body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-dropdown-link:hover{
  color: #fff;
  opacity: 1 !important;
}

.task-modal-steps .ant-steps-icon-dot, .task-modal-steps .ant-steps-item-tail::after {
  color: #1677ff !important;
  background-color: #1677ff !important;
}

.task-modal-steps .ant-steps-item-title {
  color: black !important;
  opacity: 0.88;
}